<br>
<br><br>

<div class="card-deck">
  <div class="card">
    <%= image_tag 'avatar.png', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">The 1st person</h5>
      <p class="card-text">Est velit anim adipisicing voluptate exercitation non consequat dolor ex voluptate amet aliquip. Ex aliqua veniam do eu id. Aliqua aute amet reprehenderit et consequat excepteur. Laborum laborum aute eu quis aliqua proident eu exercitation est id. Do sunt qui consequat voluptate nulla est sit esse duis ipsum exercitation. Ipsum do labore duis commodo deserunt nisi fugiat commodo amet duis consequat ipsum ipsum incididunt. Irure ex aute velit nisi incididunt qui consectetur est.</p>
      <p class="card-text"><small class="text-muted">Lorem ipsum</small></p>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'avatar.png', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">The 2nd person</h5>
      <p class="card-text">Mollit culpa esse eu irure amet consectetur dolore et cupidatat labore aliquip nostrud commodo enim. Do sint pariatur cillum qui est occaecat incididunt consequat in cillum magna dolore officia aute. Amet tempor veniam nostrud eu aliqua. Cupidatat deserunt est anim cupidatat ut cillum qui nostrud culpa cupidatat incididunt Lorem consequat magna. Proident consectetur est ullamco ut et est eu velit veniam. Amet enim reprehenderit dolor pariatur nisi in id aute dolor sunt do eiusmod. Dolor est aute nisi occaecat anim dolore aute ad ea irure amet.</p>
      <p class="card-text"><small class="text-muted">Lorem ipsum</small></p>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'avatar.png', class:"card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">The 3rd person</h5>
      <p class="card-text">Aliquip nisi veniam labore anim eiusmod mollit cupidatat. Labore sit quis non magna duis eu pariatur ex labore. Incididunt do ad exercitation ullamco proident consequat officia ex aliquip velit id magna ad. Est aliquip mollit proident et aliquip dolore mollit proident adipisicing officia nulla deserunt ut. Qui nulla eiusmod minim in et adipisicing aliquip velit dolor ipsum. Eu anim esse dolore adipisicing id. Mollit tempor commodo esse et reprehenderit eiusmod in exercitation tempor fugiat.</p>
      <p class="card-text"><small class="text-muted">Lorem ipsum</small></p>
    </div>
  </div>
</div><br><br>
<footer>
      <div class="card">
        <div class="card-header p-3 mb-2 bg-success text-white" >
          <%= t('footer.featured') %>
        </div>
        <div class="card-body ">
          <h5 class="card-title"><%= t('footer.title') %></h5>
          <p class="card-text"><%= t('footer.description') %></p>
          <%= link_to t('footer.open'), "https://bit.ly/2GgUPdn", class:"btn btn-danger", target:"_blank"%>
      </div>
    </div>
</footer>